.details-btn {
  background-color: #023c76;
  color: white;
  border-radius: 5px;
  border: 0;
  padding: 5px;
  cursor: pointer;
}
.details-btn:hover {
  background-color: rgb(71, 152, 245);
}
.cardHover:hover {
  transform: scale(1.03);
  transition: transform 1s;
}
